body {
  margin: 0px;
  display: grid;

  /* font-family: 'Martian Mono', monospace; */
  background-color: silver;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: grid;
  grid-template-areas:
    'title title'
    'gameboard controls'
    'win-message win-message';
}

.title {
  grid-area: title;

  text-align: center;
}

.gameboard {
  grid-area: gameboard;

  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  border: 1px solid black;

  font-size: 3rem;
}

.controls {
  grid-area: controls;
}

.win-message {
  grid-area: win-message;
}
